<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplos básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content-->

<ion-content class="ion-padding">
  <ion-button href="/example01" expand="full">Ejemplo 1</ion-button>
  <ion-button href="/example02" expand="full">Ejemplo 2</ion-button>
  <ion-button href="/example03" expand="full">Ejemplo 3</ion-button>
  <ion-button href="/example04" expand="full">Ejemplo 4</ion-button>
  <ion-button href="/example05" expand="full">Ejemplo 5</ion-button>
  <ion-button href="/example06" expand="full">Ejemplo 6</ion-button>
  <ion-button href="/example07" expand="full">Ejemplo 7</ion-button>
  <ion-button href="/example08" expand="full">Ejemplo 8</ion-button>
  <ion-button href="/example09" expand="full">Ejemplo 9</ion-button>
</ion-content>